
.HyperMD-header-1 {
  padding-Top: 15px!important;;
  padding-bottom: 10px!important;;

}
.HyperMD-header-2 {
  padding-Top: 15px!important;;
  padding-bottom: 8px!important;;

}

.HyperMD-header-3 {
  padding-Top: 10px!important;;
  padding-bottom: 6px!important;;
}

.cm-line {
  padding-bottom: 3px!important;
  line-height:30px;
}

.HyperMD-quote {
    background-color: #fff1f1!important;
   
    font-weight: 300!important;

}
.HyperMD-codeblock-bg {
  color : #fff!important;
/*  background-color : #0e2f48!important;*/
 background-color: #a5a5a5!important;
}
.HyperMD-quote:before {
  border: none!important;
}

table p {
  margin:5px 0!important;	
}
table th {
  background-color :#ccc!important;
}
table {
  margin-bottom : 5px!important;
  ;
}
